// Note: Scaffolding


.site-wrapper {

}

///////////////////// HERO


.site-hero {
  align-items: center;
  background-attachment: fixed;
  background-image: url(../media/hero_white_kitchen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //border-bottom: 2rem solid rgba(0,0,0,0.15);
  //box-shadow: 0 10px 40px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding: @global-whitespace-base;
  //text-align: center;
  width: 100vw;

  &:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.site-hero__logo {
  max-width: 46rem;
  //padding-top: 20%;
  margin-top: -12rem;
  position: relative;
  width: 100%;
  z-index: 2;
}


///////////////////// INTRO


.site-intro {
  background: @global-color-gray-lightest;
  padding: 4rem 0 12rem;
  position: relative;
  text-align: center;
}

.site-intro__ampersand {
  color: #000;
  font-size: 10rem;
}


.site-intro__copy {
  font-size: @global-font-size-large;
  margin-bottom: 0;
  //text-align: center;
}


///////////////////// AVATAR


.site-avatar {
  text-align: center;
  position: relative;
  top: -(28rem/2);
}

.site-avatar__avatar {
  box-shadow: @global-shadow-depth-3;

}


///////////////////// FOOTER


.site-footer {
  background: #292320;
  background: linear-gradient(#292320, #110e0d);
  color: @global-color-gray-lightest;
  padding: 8rem @global-whitespace-base;
  text-align: center;
}

.site-footer__blvd {
  p {
    font-size: @global-font-size-small;
    opacity: .35;
  }
}

.site-footer__blvd__logo {
  opacity: .75;
  width: 8rem;
}

.site-footer__mark {
  display: inline-block;
  margin-bottom: 10rem;
  max-width: 32rem;
  opacity: 0.8;
  width: 100%;
}
